
.email-cell:hover{
    text-transform: capitalize;
    background-color: lightblue;
    box-shadow: 0 40px 40px 0 rgba(15, 15, 15, 0.4)
}

.container{
border: 1px solid white;
box-shadow: 0 2px 2px 0 rgba(15, 15, 15, 0.4)
}
.image-cell:hover{
    border: 1px solid lightblue;
    box-shadow: 0 1px 1px 0 rgba(15, 15, 15, 0.4)
    }